rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /minyanim/{minyanId} {
      allow read, create: if true;
      allow update, delete: if false;

      match /participants/{participantId} {
        allow read, write: if true;
      }
    }
  }
}
